<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Emsidi</title>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Update Cabang Emsidi</h2>
                <br>
                <form th:action="@{/pegawai/update}" th:object="${pegawai}" method="POST">
                    <input type="hidden" th:field="*{noPegawai}"/>

                    Nama Pegawai : <br>
                    <input required class="form-control" type="text" name="namaPegawai" th:value="*{namaPegawai}"/>
                    <br><br>

                    Jenis Kelamin : <br>
                    <select name="jenisKelamin">
<!--                        <option value="1">Laki-laki</option>-->
                        <option value = "0">Perempuan</option>
                        <option value = "1">Laki-Laki</option>
                    </select>
                    <br><br>

                    Cabang: <br>
                    <input required class="form-control" type="text" name="cabang" th:value="*{cabang.noCabang}"/>
                    <br><br>

                    <button class="btn btn-primary" type="submit">Submit</button>
<!--                    <a class="btn btn-warning" th:href="@{/pegawai/viewall/} + ${pegawai.cabang.noCabang}">Cancel</a>-->
                    <a class="btn btn-primary" href="/">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>