<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Emsidi</title>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Cabang Emsidi</h2>
                <br>
                <div>
                    <form th:action="@{/cabang/add}" th:object="${cabang}" method="POST">
                        Nama Cabang : <br>
                        <input class="form-control" type="text" name="namaCabang"/>
                        <br><br>

                        Alamat : <br>
                        <input class="form-control" type="text" name="alamatCabang"/>
                        <br><br>

                        Nomor Telepon : <br>
                        <input class="form-control" type="text" name="noTeleponCabang"/>
                        <br><br>

                        Waktu Buka : <br>
                        <input class="form-control" type="time" name="waktuBuka" />
                        <br><br>

                        Waktu Tutup : <br>
                        <input class="form-control" type="time" name="waktuTutup" />
                        <br><br>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nama Menu</th>
                                <th>
                                    <button class="btn btn-primary" type="submit" name="add">Tambah Row</button>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="menu, iterationStatus : *{listMenu}">
                                <td>
                                    <select class="form-control"  name = "hapus" th:field="*{ListMenu[__${iterationStatus.index}__].noMenu}">
                                        <option th:each="mn : ${listMenuSatunya}"
                                                th:value="${mn.noMenu}"
                                                th:text="${mn.namaMenu}"
                                                th:seleced = "mn.noMenu == menu.noMenu">
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="submit" name="hapus" th:value="${iterationStatus.index}">Hapus</button>
                                </td>
                            </tr>
                            </tr>
                            </tbody>
                        </table>
                        <button name="submit" class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
                <div>

                    <a class="btn btn-primary" href="/">Cancel</a>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>