<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Emsidi</title>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Detail Pegawai</h2>
                <br>
                <p th:text="'No Pegawai : ' + ${pegawai.noPegawai}"></p>
                <p th:text="'Nama : ' + ${pegawai.namaPegawai}"></p>
                <p th:if="${pegawai.jenisKelamin == 0}">Jenis Kelamin : Perempuan</p>
                <p th:if="${pegawai.jenisKelamin == 1}">Jenis Kelamin : Laki-laki</p>
                <p th:text="'Cabang : ' + ${pegawai.cabang.noCabang}"></p>
                <br>
                <a class="btn btn-primary" th:href="@{/pegawai/update/} + ${pegawai.cabang.noCabang} + '/' + ${pegawai.noPegawai}">Update Pegawai</a>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="/cabang/viewall">Kembali</a>
</div>

</body>

</html>